<% unless playlist.errors? %>
  <b>
    And here it is, your <i>2017 In Concerts</i> playlist:
  </b>
  <br />
  <br />
  <iframe src="<%= playlist.link %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
<% else %>
  <p id="error">
    <%= playlist.error_content %>
  </p>
<% end %>
