<h1>
  2017 In Concerts
</h1>
<img src="/assets/powered-by-songkick-pink.svg" alt="Powered by Songkick"/>
<form action="/playlist/create" method="post" id="user-form">
  <label for="username">Your Songkick username:</label>
  <input type="text" id="username" name="username" />

  <input type="submit" value="go" />
</form>

<div id="response">

</div>
