// Place all the styles related to the playlist_generator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
  background-image: url(/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 1.5em;
}

h1
{
  color: #F50F4A;
  font-family: 'Rock Salt', cursive;
  line-height: 1.5em;
}

p
{
  margin: 0;
}

#cont
{
  text-align: center;
  margin: auto;
  width: auto;
  max-width: 800px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

#response
{
  display: none;
}

#connect-to-spotify, #connect-to-songkick, #response
{
  margin: 20px 0;
  padding: 20px 0;
  border-top: 2px solid #333333;
}

#connect-to-songkick p
{
  margin: 10px 0 10px 0;
}

#user-form
{
  margin-top: 20px;
}

#user-form input
{
  color: white;
  font-size: 1em;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

#username
{
  background-color: black;
  width: 310px;
  border: 2px solid #444444;
  border-right: none;
  padding: 7px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: 'PT Sans', sans-serif;
}

#username.empty
{
  color: #666666;
}

#go
{
  background-color: #F50F4A;
  font-weight: 600;
  margin-left: -7px;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  padding: 9px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
}

#go.disabled
{
  cursor: default;
  background-color: #444444;
}

#go:hover
{
  background-color: #ef4570;
}

#go.disabled:hover
{
  background-color: #444444;
}

#spotify-connect-btn
{
  color: #fff;
  background-color: #2ebd59;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  padding: 0 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.5s;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin: 20px 0;
}

#spotify-connect-btn:hover
{
  background-color: #27d34d;
}

.error
{
  color: #F50F4A;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
}

#spotify-info
{
  margin-bottom: 30px;
}

#spotify-info img
{
  width: 120px;
  border-radius: 60px;
  display: block;
  margin: auto;
}

#loading
{
  display: none;
  width: 400px;
  margin: auto;
}

#animation-containter
{
  position: relative;
}

#loading p
{
  padding-top: 100px;
}

#loading img
{
  position: absolute;
  width: 80px;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.animated_sk
{
  animation-name: working_songkick;
}

.animated_spotify
{
  animation-name: working_spotify;
}

#loading_songkick
{
  left: 0;
  border-radius: 37px;
}

#loading_spotify
{
  right: 0;
}

@keyframes working_songkick {
  0%   {left:0px; top:0px; background-color: transparent;}
  /*50% {left:160px; top:0px;transform: rotate(360deg); background-color: transparent;}*/
  100% {left:160px; top:0px; transform: rotate(360deg); background-color: white;}
}

@keyframes working_spotify {
  0%   {right:0px; top:0px;}
  /*50% {right:160px; top:0px;transform: rotate(-360deg);}*/
  100% {right:160px; top:0px; transform: rotate(-360deg);}
}

#footer
{
  text-align: right;
  margin-top: 40px;
}

#powered-by-sk
{
  width: 100px;
}

#attribution
{
  font-size: 15px;
  margin: 10px 0;
}

#response iframe
{
  max-width: 100%;
  margin-top: 20px;
}

#stats
{
  display: none;
}

#gigography-overview
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

#gigography-overview p
{
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#artist-art
{
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
}

#artist-art .cell
{
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
}

#artist-art .cell::after
{
  content: '';
  width: 100%;
  display: block;
  padding-top: 100%;
}

.small-text
{
  font-size: 0.7em;
}

@media handheld, only screen and (max-width: 799px)
{
  body
  {
    font-size: 1.3em;
    padding: 10px;
  }

  #cont
  {
    width: 100%;
    max-width: none;
    padding: 0;
  }
}

@media handheld, only screen and (max-width: 499px)
{
  body
  {
    font-size: 1.3em;
    padding: 10px;
  }

  #cont
  {
    width: 100%;
    max-width: auto;
    padding: 0;
  }

  #username
  {
    display: block;
    width: 90%;
    margin: auto;
    border: 2px solid #444444;
  }

  #go
  {
    display: block;
    margin: 5px auto;
    width: 90%;
  }
}

a
{
  color: white;
}
