<!DOCTYPE html>
<html>
  <head>
    <title>Songkick Year In Concerts</title>
    <%= csrf_meta_tags %>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />

    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto|Roboto+Condensed" rel="stylesheet" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
